div#main{
    padding:0;
    min-width:952px
}
header#main-header.transparent{
    position:absolute;
    left:0;
    right:0;
    z-index:2;
    -webkit-font-smoothing:antialiased
}
header#main-header.transparent .inner-col{
    border-bottom:1px solid hsla(0,0%,100%,.05)!important
}
.globalNav .colorize{
    color:hsla(0,0%,100%,.5)
}
.globalNav .colorize.active,.globalNav .colorize:hover{
    color:#fff
}
#checkout,#checkout main *{
    margin:0;
    padding:0;
    border:none
}
body#checkout{
    background:#fff
}
body#checkout #main-header .inner-col{
    border-bottom:none
}
body#checkout:not(.chrome) div#main{
    opacity:0
}
body#checkout.ready:not(.chrome) div#main{
    transition:opacity 1.5s cubic-bezier(.165,.84,.44,1)
}
body#checkout.loaded:not(.chrome) div#main{
    opacity:1
}
body#checkout main{
    font-size:14px;
    -webkit-font-smoothing:antialiased
}
body#checkout main .content{
    position:relative;
    width:952px;
    margin:0 auto
}
body#checkout main h1,body#checkout main h2,body#checkout main p{
    font-size:1em;
    line-height:normal;
    margin:0;
    color:#000
}
body#checkout main h1{
    font-weight:400
}
body#checkout main button{
    outline:none;
    -webkit-tap-highlight-color:transparent
}
body#checkout.chrome #intro{
    background:none
}
body#checkout.chrome #intro .content{
    z-index:1
}
body#checkout.chrome #intro canvas{
    display:block;
    min-height:100%
}
body#checkout.android #intro,body#checkout.iOS #intro{
    height:660px
}
body#checkout #intro{
    position:relative;
    overflow:hidden;
    background:#1d2b64;
    background:radial-gradient(circle farthest-side at right bottom,#fefdfe 5%,#f8cdda 25%,#1d2b64 80%,#0e153a 98%);
    height:100vh;
    min-height:660px
}
body#checkout #intro:after,body#checkout #intro:before{
    content:"";
    position:absolute;
    width:100%;
    z-index:3
}
body#checkout #intro:after{
    height:2px;
    bottom:0;
    background:linear-gradient(rgba(14,21,58,0),rgba(14,21,58,.1))
}
body#checkout #intro .content{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-306px;
    margin-left:-476px
}
body#checkout #intro.goToSlide3 .content{
    z-index:3
}
body#checkout.ready #intro .content{
    transition:opacity .5s ease-in-out
}
body#checkout #intro .content.hidden{
    opacity:0
}
body#checkout #intro [id^=slide] :not(strong){
    position:absolute
}
body#checkout #intro [id^=slide]>h1,body#checkout #intro [id^=slide]>p{
    text-shadow:0 1px 1px rgba(14,21,58,.2)
}
body#checkout #intro [id^=slide] .pay-button.desktop{
    width:228px;
    height:38px;
    left:36px;
    background:url("../../../img/checkout/marketing/header-animation/pay-button.png")
}
body#checkout #intro [id^=slide] .pay-button.desktop.paid{
    background-position:0 100%
}
body#checkout #intro [id^=slide] .desktop.tick{
    width:20px;
    height:21px;
    left:50%;
    margin-left:-10px;
    background:url("../../../img/checkout/marketing/header-animation/tick.svg")
}
body#checkout #intro #slide0~section{
    pointer-events:none
}
body#checkout #intro h1{
    font-size:30px;
    color:#fff;
    letter-spacing:-1px
}
body#checkout #intro div.close.inner-col{
    margin:0 auto!important;
    position:relative
}
body#checkout #intro #close-button{
    position:absolute;
    top:63px;
    right:1px;
    width:21px;
    height:21px;
    background:url("../../../img/checkout/marketing/close.png");
    background-size:100% 100%;
    z-index:1;
    opacity:0;
    pointer-events:none;
    transition:opacity .4s ease-in-out
}
body#checkout #intro #close-button.visible{
    opacity:1;
    pointer-events:auto
}
body#checkout #intro #close-button.visible:active{
    opacity:1
}
body#checkout #slide0 h1,body#checkout #slide0>p{
    width:420px;
    left:8px;
    text-align:center
}
body#checkout #slide0 h1{
    top:200px;
    font-size:42px;
    letter-spacing:-1px
}
body#checkout #slide0>p{
    top:270px;
    font-size:34px;
    line-height:1.2;
    color:#c5b3cb;
    background:-webkit-linear-gradient(0,rgba(180,180,250,.7),#fadce5 50%,#fff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}
body#checkout #slide0>p strong{
    font-weight:100
}
body#checkout #slide0 button{
    height:40px;
    top:382px;
    left:141px;
    color:#fff;
    padding-left:24px;
    padding-right:49px;
    text-align:left;
    cursor:pointer;
    font-weight:500;
    font-size:18px;
    -webkit-font-smoothing:antialiased;
    text-shadow:0 1px 1px rgba(0,0,0,.2);
    background:rgba(17,18,57,.4);
    border-radius:20px;
    box-shadow:0 1px 0 hsla(0,0%,100%,.05),inset 0 1px 0 rgba(0,0,0,.1)
}
body#checkout #slide0 button.show-me.locale-de{
    left:112px
}
body#checkout #slide0 button.show-me-again.locale-de{
    left:105px
}
body#checkout #slide0 button.show-me.locale-fr{
    left:115px
}
body#checkout #slide0 button.show-me:after{
    content:"";
    position:absolute;
    top:15px;
    right:26px;
    width:7px;
    height:12px;
    background:url("../../../img/checkout/marketing/play-button/default.svg");
    -webkit-animation:bounce-arrow .85s linear infinite;
    animation:bounce-arrow .85s linear infinite
}
body#checkout #slide0 button.show-me-again,body#checkout.no-animation #slide0 button{
    display:none
}
body#checkout #slide0 button.show-me-again.locale-fr{
    left:147px
}
body#checkout .new #slide0 button.show-me{
    display:none
}
body#checkout .new #slide0 button.show-me-again{
    display:inline
}
body#checkout .new #slide0 button.show-me-again:after{
    content:"";
    position:absolute;
    top:12px;
    right:17px;
    width:15px;
    height:18px;
    background-image:url("../../../img/checkout/marketing/play-button/restart.png");
    background-repeat:no-repeat
}
body#checkout #slide0 button:active{
    color:#c5b3cb
}
body#checkout #slide0 .product{
    width:300px;
    top:70px;
    right:146px;
    height:200px;
    font:15px helvetica neue,helvetica,arial,sans-serif;
    -webkit-user-select:none;
    user-select:none;
    pointer-events:none;
    -webkit-filter:drop-shadow(0 1px 5px rgba(80,63,101,.5));
    filter:drop-shadow(0 1px 5px rgba(80,63,101,.5));
    -webkit-transform:translateZ(0)
}

body#checkout #slide0 .product .card,body#checkout #slide0 .product .email,body#checkout #slide0 .product .expiry,body#checkout #slide0 .product .phone-box,body#checkout #slide0 .product .remember{
    left:36px;
    text-indent:30px
}
body#checkout #slide0 .product .card,body#checkout #slide0 .product .email,body#checkout #slide0 .product .phone{
    width:226px
}
body#checkout #slide0 .product .email{
    top:173px
}
body#checkout #slide0 .product .card{
    top:228px
}
body#checkout #slide0 .product .cvc,body#checkout #slide0 .product .expiry{
    top:264px
}
body#checkout #slide0 .product .expiry{
    width:113px
}
body#checkout #slide0 .product .cvc{
    width:112px;
    left:150px;
    text-indent:25px
}
body#checkout #slide0 .product .visa{
    width:32px;
    height:20px;
    right:44px;
    top:237px;
    background:url("../../../img/checkout/marketing/header-animation/visa.png")
}
body#checkout #slide0 .product .remember{
    top:328px;
    color:#5b5b65;
    font-weight:500;
    text-shadow:0 1px 0 #fff
}
body#checkout #slide0 .product .checkbox{
    width:19px;
    height:19px;
    top:327px;
    left:44px;
    background:url("../../../img/checkout/marketing/header-animation/checkbox.png")
}
body#checkout #slide0 .product .phone-box{
    width:228px;
    height:129px;
    top:355px;
    background:url("../../../img/checkout/marketing/header-animation/phone-box.png")
}
body#checkout #slide0 .product .phone-box.locale-ja{
    background-image:url("../../../img/checkout/marketing/header-animation/ja_phone-box.png")
}
body#checkout #slide0 .product .phone-box .phone{
    bottom:1px
}
body#checkout #slide0 .product .pay-button{
    top:519px
}
body#checkout #slide0 .product .tick{
    top:527px
}
body#checkout #slide0 .product-shadow{
    width:351px;
    height:41px;
    left:50%;
    margin-left:4px;
    top:517px;
    background:url("../../../img/checkout/marketing/hero/product-shadow.png")
}
body#checkout #slide0 .iphone{
    width:193px;
    height:386px;
    right:12px;
    top:152px;
    background:url("../../../img/checkout/marketing/hero/en_iphone.png")
}
body#checkout #slide0 .iphone.locale-fr{
    background:url("../../../img/checkout/marketing/hero/fr_iphone.png")
}
body#checkout #slide0 .iphone.locale-ja{
    background:url("../../../img/checkout/marketing/hero/ja_iphone.png")
}
body#checkout #slide0 button,body#checkout #slide0 h1,body#checkout #slide0 p{
    transition-property:opacity,-webkit-transform;
    transition-property:opacity,transform;
    transition-duration:.5s;
    transition-timing-function:cubic-bezier(.55,.055,.675,.19)
}
body#checkout #slide0>p{
    transition-delay:.1s
}
body#checkout #slide0 button{
    transition-delay:.15s
}
body#checkout.ready #slide0 .product-shadow{
    transition:.8s
}
body#checkout.ready #slide0 .iphone{
    transition:.8s cubic-bezier(.55,.055,.675,.19)
}
body#checkout .goToSlide1 #slide0 button,body#checkout .goToSlide1 #slide0 h1,body#checkout .goToSlide1 #slide0>p{
    opacity:0;
    -webkit-transform:translateY(50px);
    transform:translateY(50px)
}
body#checkout .goToSlide1 #slide0 button{
    pointer-events:none
}
body#checkout .goToSlide1 #slide0 .product-shadow{
    opacity:0
}
body#checkout .goToSlide1 #slide0 .iphone{
    opacity:0;
    -webkit-transform:translateX(-240px);
    transform:translateX(-240px)
}

body#checkout.ready #slide0 .product{
    transition:.7s cubic-bezier(.4,.1,.1,1) .6s;
    -webkit-backface-visibility:hidden
}
body#checkout.ready #slide0 .product .bottom{
    transition:.5s .65s
}
body#checkout.ready #slide0 .product .field{
    transition-property:border-color,box-shadow;
    transition-duration:.15s
}
body#checkout.ready #slide0 .product .remember-me-background{
    transition-property:opacity;
    transition-duration:.15s;
    transition-delay:10.45s
}

body#checkout #slide0 .product .visa{
    opacity:0;
    -webkit-transform:translateX(-10px);
    transform:translateX(-10px);
    transition:.8s cubic-bezier(.585,.125,.165,1.4) 4.8s
}
body#checkout #slide0 .product .checkbox{
    opacity:0;
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    transition:.4s cubic-bezier(.2,.5,.2,1.5) 10s
}
body#checkout #slide0 .product .phone-box{
    opacity:0;
    -webkit-transform:scaleY(.6);
    -webkit-transform-origin:0 0;
    transform:scaleY(.6);
    transform-origin:0 0
}
body#checkout.ready #slide0 .product .phone-box{
    transition:.4s cubic-bezier(.54,.01,.225,1.2) 10.4s
}
body#checkout #slide0 .product .pay-button{
    opacity:0
}
body#checkout.ready #slide0 .product .pay-button{
    transition:opacity .3s 13.5s
}
body#checkout.ready #slide0 .product .pay-button.paid{
    transition-delay:13.8s
}
body#checkout #slide0 .product .tick{
    opacity:0;
    -webkit-transform:scale(0);
    transform:scale(0)
}
body#checkout.ready #slide0 .product .tick{
    transition:.4s cubic-bezier(.585,.125,.165,1.4) 13.8s
}
body#checkout .goToSlide1 #slide0 .product{
    -webkit-transform:translate(-180px,12px);
    transform:translate(-180px,12px)
}
body#checkout .goToSlide1 #slide0 .product.expanded{
    -webkit-transform:translate(-180px,-50px);
    transform:translate(-180px,-50px)
}
body#checkout .goToSlide1 #slide0 .product.expanded .bottom{
    -webkit-transform:translateY(0);
    transform:translateY(0)
}
body#checkout .goToSlide1 #slide0 .product .checkbox,body#checkout .goToSlide1 #slide0 .product .phone-box,body#checkout .goToSlide1 #slide0 .product .remember-me-background,body#checkout .goToSlide1 #slide0 .product .tick,body#checkout .goToSlide1 #slide0 .product .visa{
    opacity:1;
    -webkit-transform:none;
    transform:none
}
body#checkout .goToSlide1 #slide0 .product .pay-button{
    opacity:1
}
body#checkout .goToSlide2 #slide0 .product.expanded{
    transition:.8s cubic-bezier(.635,-.08,.735,.045) .2s
}


body#checkout .new #slide0{
    -webkit-animation:3s restart;
    animation:3s restart
}
#checkout main .content aside{
    font-size:13px;
    line-height:20px;
    color:#4d5a69
}



@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:2dppx){
    body#checkout #intro #close-button{
        background-image:url("../../../img/checkout/marketing/close@2x.png")
    }
    body#checkout .new #slide0 button.show-me-again:after{
        background-image:url("../../../img/checkout/marketing/play-button/restart.svg")
    }
    body#checkout .chrome #slide0 .product{
        -webkit-filter:none
    }
    body#checkout #intro [id^=slide] .pay-button.desktop{
        background-image:url("../../../img/checkout/marketing/header-animation/pay-button@2x.png");
        background-size:228px 76px
    }
    body#checkout #slide0 .product .header{
        background-image:url("../../../img/checkout/marketing/header-animation/header@2x.png");
        background-size:300px 137px
    }
    body#checkout #slide0 .product .header.locale-ja{
        background-image:url("../../../img/checkout/marketing/header-animation/ja_header@2x.png");
        background-size:300px 137px
    }
    body#checkout #slide0 .product .bottom{
        background-image:url("../../../img/checkout/marketing/header-animation/bottom@2x.png");
        background-size:300px 455px
    }
    body#checkout #slide0 .product .bottom.locale-ja{
        background-image:url("../../../img/checkout/marketing/header-animation/ja_bottom@2x.png");
        background-size:300px 455px
    }
    body#checkout #slide0 .product .empty-form{
        background-image:url("../../../img/checkout/marketing/header-animation/empty-form@2x.png");
        background-size:228px 184px
    }
    body#checkout #slide0 .product .remember-me-background{
        background-image:url("../../../img/checkout/marketing/header-animation/remember-me-background@2x.png");
        background-size:228px 1px
    }
    body#checkout #slide0 .product .visa{
        background-image:url("../../../img/checkout/marketing/header-animation/visa@2x.png");
        background-size:32px 20px
    }
    body#checkout #slide0 .product .checkbox{
        background-image:url("../../../img/checkout/marketing/header-animation/checkbox@2x.png");
        background-size:19px 19px
    }
    body#checkout #slide0 .product .phone-box{
        background-image:url("../../../img/checkout/marketing/header-animation/phone-box@2x.png");
        background-size:228px 129px
    }
    body#checkout #slide0 .product .phone-box.locale-ja{
        background-image:url("../../../img/checkout/marketing/header-animation/ja_phone-box@2x.png");
        background-size:228px 129px
    }
    body#checkout #slide0 .product-shadow{
        background:url("../../../img/checkout/marketing/hero/product-shadow@2x.png");
        background-size:100% 100%
    }
    body#checkout #slide0 .iphone{
        background:url("../../../img/checkout/marketing/hero/en_iphone@2x.png");
        background-size:100% 100%
    }
    body#checkout #slide0 .iphone.locale-fr{
        background:url("../../../img/checkout/marketing/hero/fr_iphone@2x.png");
        background-size:100% 100%
    }
    body#checkout #slide0 .iphone.locale-ja{
        background:url("../../../img/checkout/marketing/hero/ja_iphone@2x.png");
        background-size:100% 100%
    }
}
@media (min-height:1000px) and (max-width:1500px){
    #checkout #slide1 h1:last-of-type{
        color:#fff
    }
    #checkout #slide1 p:last-child{
        color:#f5e5f0
    }
    #checkout #slide1 h1:last-of-type,#checkout #slide1 p:last-child{
        text-shadow:0 1px 0 rgba(90,71,106,.4)
    }
}
@-moz-document domain((stripe.com)){
    #slide0 button{
        margin-top:-4px;
        background-position:94% calc(50% + 4px)
    }
}
@-webkit-keyframes bounce-arrow{
    0%,to{
        -webkit-transform:translateX(0);
        transform:translateX(0);
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
        animation-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    50%{
        -webkit-transform:translateX(6px);
        transform:translateX(6px);
        -webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);
        animation-timing-function:cubic-bezier(.55,.055,.675,.19)
    }
}
@keyframes bounce-arrow{
    0%,to{
        -webkit-transform:translateX(0);
        transform:translateX(0);
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
        animation-timing-function:cubic-bezier(.215,.61,.355,1)
    }
    50%{
        -webkit-transform:translateX(6px);
        transform:translateX(6px);
        -webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);
        animation-timing-function:cubic-bezier(.55,.055,.675,.19)
    }
}
@-webkit-keyframes toggleNotification{
    15%,85%{
        -webkit-transform:none;
        transform:none
    }
}
@keyframes toggleNotification{
    15%,85%{
        -webkit-transform:none;
        transform:none
    }
}
@-webkit-keyframes pay-button-iphone{
    50%{
        background:rgba(0,47,95,.3)
    }
    to{
        background:#77c63e
    }
}
@keyframes pay-button-iphone{
    50%{
        background:rgba(0,47,95,.3)
    }
    to{
        background:#77c63e
    }
}
@-webkit-keyframes restart{
    0%{
        opacity:0
    }
}
@keyframes restart{
    0%{
        opacity:0
    }
}
/*# sourceMappingURL=sprockets-css-checkout-page-2e232a95d7012b1f29f6.css.map*/
